.container{
    margin: auto;
    width: 20%;
    border: 3px solid rgba(48, 5, 5, 0.966);
    padding: 3rem ;
    background-color: azure;
   font-weight: 100%;
   border-radius: 4rem;
}
.container .truck_used{
    font-weight: 100px;
}